<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Passive vs Active voice</title>
  </head>
  <body>
    <h1>Explainer</h1>
    <p>Phrase: <%= @phrase %></p>
  </body>
</html>
